<h1>Feature Details</h1>
   <% @details.each do |movie| %>

     <ul class="movie_details">
      <li><%= "Title: #{movie[:title]}" %></li>
      <li><%= "Year: #{movie[:year]}"%></li>
      <li><%= "Genre: #{movie[:genre]}"%></li>
      <li><%= "Rating: #{movie[:rating]}" %></li>
      <li><%= "Production Studio: #{movie[:studio]}"%></li>
      <li><%= "Synopsis: #{movie[:synopsis]}" %></li>
    </ul>
  <% end %>
</body>
